
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Stack Index</title>
</head>
<body>
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%"> 
        <!--STACK : LIFO-->
                
        
            
        <a href="@Url.Action("AddOne", "Stack")" class="w3-bar-item w3-button">Add One Item to Stack</a>

        <a href="@Url.Action("AddMany", "Stack")" class="w3-bar-item w3-button">Add Huge List of Items to Stack</a>

        <a href="@Url.Action("Display", "Stack")" class="w3-bar-item w3-button">Display Stack</a>

        <a href="@Url.Action("DeleteItem", "Stack")" class="w3-bar-item w3-button">Delete from Stack</a>

        <a href="@Url.Action("ClearAll", "Stack")" class="w3-bar-item w3-button">Clear Stack</a>

        <a href="@Url.Action("Index", "Home")" class="w3-bar-item w3-button">Return to Main Menu</a>
        
        @using (Html.BeginForm("SearchStack", "Stack", FormMethod.Post))
        {
            <label for="searchStack" class="sr-only">Search Stack</label>
            @Html.TextBox("stackGuess")
            <button type="submit">Search Stack</button>
        }

    </div>

    <div style="margin-left:25%">
        @foreach (var sData in ViewBag.OutputStack)
        {
            <p>@sData</p>
        }
    </div>
   

</body>
</html>
